body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f3eeea;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-top: 10px;
    font-size: 45px;
    text-shadow: #000000;
    letter-spacing: 1px;
  }
  
  h2{
    text-align: center;
    color: #333;
    margin-top: 10px;
    font-size: 40px;
    text-shadow: #000000;
    letter-spacing: 1px;
  }
  .vertical-bar {
  width: 70px; /* Ancho de la barra */
  height: 100vh; /* Altura igual al 100% del contenedor */
  background-color: #3498db; /* Color de fondo de la barra */
  top: 0; /* Alineación arriba */
  bottom:o;
  left: 0; /* Alineación izquierda */
  z-index: -1;
  position: fixed;
  }
  
  .btn-group {
    display: flex;
    margin-top: -550px;
    padding-left: 10px; /* Espacio para la barra vertical */
    flex-direction: column; 
    margin-left: 20px; 
    width: 5%;
    align-items: flex-start;
    position: fixed;
    top: 20px; 
    left: 1px;
  }
  
  #Listbutton {
    padding: 2px;
    width: 2%;
    font-size: 16px;
    margin-bottom: -40px; /* Espacio entre los botones */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin-top: 90px;
    background-color: #3498db;
    transition: background-color 0.3s;
    margin-left: -16px;
  }
  
  #Listbutton img {
    width: 40px;
    height: auto; 
  }
  #graphicbutton{
    padding: 2px;
    width: 2%;
    font-size: 16px;
    margin-bottom: -40px; /* Espacio entre los botones */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin-top: 90px;
    background-color: #3498db;
    transition: background-color 0.3s;
    margin-left: -16px;
  }
  #graphicbutton img{
    width: 40px;
    height: auto; 
  }
  
  #Gastosbutton {
    padding: 2px;
    width: 2%;
    font-size: 16px;
    margin-bottom: -40px; /* Espacio entre los botones */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin-top: 90px;
    background-color: #3498db;
    transition: background-color 0.3s;
    margin-left: -16px;
  }
  #Gastosbutton img{
    width: 40px;
    height: auto; 
  }

  .navbar {
  text-align: center;
  color: #333;
  top: 0;
  margin-top: 0px;
  font-size: 20px;
  text-shadow: #000000;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    letter-spacing: 1px;
  z-index: 1000;
  }

form {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 400px;
    background-color: #ffffff; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    width: calc(50% - 20px);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Hace que las etiquetas sean más visibles */
}

#gastoButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    margin-top: 5px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    transition: background-color 0.3s; /* Agrega una transición suave al color de fondo */
    align-self: center;
}

#agregarbutton{
    padding: 10px 20px;
    background-color: #4CAF50;
    margin-top: 5px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    transition: background-color 0.3s; /* Agrega una transición suave al color de fondo */
    align-self: center;
}
#CategoryButton {
    padding: 2px;
    width: 2%;
    font-size: 16px;
    margin-bottom: -40px; /* Espacio entre los botones */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin-top: 90px;
    background-color: #3498db;
    transition: background-color 0.3s;
    margin-left: -16px;  
}
#CategoryButton img{
    width: 40px;
    height: auto; 
  }

input, select {
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}